@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var integrante in (Dictionary<int, Integrante>)ViewBag.Integrantes)
        {
            <li>
                <a href='@Url.Action("InfoIntegrante", "Home", new {dni = integrante.Key})'>
                    <img src='~/images/@integrante.Value.ObtenerFoto()' alt='@integrante.Value.ObtenerNombre()' />
                    @integrante.Value.ObtenerNombre()
                </a>
            </li>
        }
    </ul>
</div>
